.table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 3px solid black;
}

.table td {
  text-align: center;
}

/* .table tr:nth-child(odd) {
  background-color: #ff33cc;
} */

.table tr:nth-child(even) {
  background-color: gray;
}

.table thead {
  background-color: rgba(16, 16, 16, 0.877);
  color: white;
}

.table td {
  color: black;
  border: 2px solid black;
}
.table th {
  border: 2px solid black;
}
